@prefixCls: layout;
@bg-color: #112a36;

.@{prefixCls}-basic {
  height: 100vh;

  &-sider {
    position: relative;
    &-title {
      height: 100px;
      font-size: 18px;
      color: @text-color-secondary;
      display: flex;
      align-items: center;
      padding: 24px;
      > span:first-child {
        flex: 0 0 32px;
        display: block;
        width: 100%;
      }
    }
    &-title-collapsed {
      > span:last-child {
        width: 0px;
        overflow: hidden;
      }
    }
    // 退出登录
    &-logout {
      position: absolute;
      display: flex;
      align-items: center;
      cursor: pointer;
      bottom: 24px;
      padding-left: 24px;
      left: 0;
      margin-left: 0;
      border-right: 0;
      width: 100%;
      transition: padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
      .anticon-logout {
        margin-right: 10px;
      }
      > span:last-child {
        display: block;
        width: 100%;
        transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
      }
      &:hover {
        color: @primary-color;
      }
    }
    // 收缩状态的退出登录
    &-logout-collapsed {
      width: 100%;
      padding: 0 calc(50% - 16px / 2);
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      > span:last-child {
        width: 0px;
        overflow: hidden;
      }
    }

    .ant-avatar {
      margin-right: 12px;
    }
  }

  &-content {
    padding: 0px 40px 40px 40px;
    background-image: linear-gradient(to right, #16222e, #0c3748);
    > div {
      // background-color: rgba(23, 64, 82, 0.5);
      background-image: linear-gradient(to right, #1b303d, #174052);
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }

  .ant-layout-header {
    background-image: linear-gradient(to right, #16222e, #0c3748);
    height: 128px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @text-color-secondary;
    > div:first-child {
      font-weight: 600;
      font-size: 24px;
      .ant-breadcrumb-link {
        color: @text-color-secondary;
      }
    }
  }
  .ant-layout-sider {
    background-color: #1b2b36;
    .ant-menu-item-selected {
      background-color: #1b2b36;
    }
  }
  .ant-menu-item {
    &:active {
      background: #1b2b36;
    }
    &::after {
      border-right: 5px solid #3ebfbf;
      border-radius: 5px;
    }
  }
  .ant-menu-sub.ant-menu-inline {
    background: unset;
  }

  .ant-menu-submenu-title:active {
    background: #1b2b36;
  }

  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: 0px solid #f0f0f0;
  }
}
